<!-- Mission file for GADEN preprocessing
    ROS - KINETIC
-->

<launch>
    <arg name="scenario" default="River211121" />
    
    <node pkg="gaden_preprocessing" type="preprocessing" name="preprocessing" output="screen" >
     
        #Cell size
        <param name="cell_size" value="1.99"/>    
        
        #CAD models of the enviroment (.stl)
        <param name="number_of_models" value="8"/>
        <param name="model_0" value="$(find test_env)/$(arg scenario)/cad_models/island01.stl"/>
        <param name="model_1" value="$(find test_env)/$(arg scenario)/cad_models/island02.stl"/>
        <param name="model_2" value="$(find test_env)/$(arg scenario)/cad_models/island03.stl"/>
        <param name="model_3" value="$(find test_env)/$(arg scenario)/cad_models/land01.stl"/>
        <param name="model_4" value="$(find test_env)/$(arg scenario)/cad_models/land02.stl"/>
        <param name="model_5" value="$(find test_env)/$(arg scenario)/cad_models/land03.stl"/>
        <param name="model_6" value="$(find test_env)/$(arg scenario)/cad_models/waterTop.stl"/>
        <param name="model_7" value="$(find test_env)/$(arg scenario)/cad_models/waterBottom.stl"/>
                
        #CAD model of the outlets (.stl)
        <param name="number_of_outlet_models" value="1"/>
        <param name="outlets_model_0" value="$(find test_env)/$(arg scenario)/cad_models/outlet.stl"/>
        
        #3D Location of a point in free-space
        <param name="empty_point_x" value="-170"/>      ### (m)
        <param name="empty_point_y" value="53"/>      ### (m)
        <param name="empty_point_z" value="-4"/>      ### (m)
            

        #Wind Data (the node will append _i.csv to the name that is specified here)
        <param name="wind_files" value="$(find test_env)/$(arg scenario)/wind_simulations/river"/>

        #Where to write the output files
        <param name="output_path" value="$(find test_env)/$(arg scenario)" />
    </node>
</launch>